<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<div th:insert="~{fragments/head.html :: head}"></div>
	<body>
		<div th:insert="~{fragments/navbar.html :: navbar}"></div>
		<h1 style="text-align: center; margin: 0px auto; display: block; color: red; padding-bottom: 1em;"
		    th:text="${intestazione}">
        </h1>
		<h3 style="text-align: center; margin: 0px auto; display: block; color: green;"
		    th:text="${saluti}">
        </h3>
		<div th:insert="~{fragments/foot.html :: foot}"></div>
	</body>
</html>